#internal {
  display: flex;
  justify-content: center;
  align-items: center;
}
#i { 
font-size: 24pt; 
}
em {
color: red;
}
.blue_box {
border: 10px solid blue;
padding: 0.5em;
margin: 0.5em;
width: 150px;
height: 100px;
float: right;
}
.red_box {
border: 10px solid red;
padding: 0.5em;
margin: 0.5em;
width: 20px;
height: 20px;
float: right;
}
.outer {
width: 300px;
border: 5px dotted orange;
}

.inner {
border: 5px solid blue;
width: 50%;
}

e {
    color: blueviolet;
    text-align: center;
}
div {
    width: 50%;
    margin: 0 auto;
}
#s {
    display: flex;
    justify-content: center;
    align-items: center;
}
p em {
   color: aqua;
}
li {
    font-size: 1.5em;
}
.done{
    text-decoration: line-through;
}
.highlight{
    background-color: yellow;
    font-weight: bold;
    color: red;
}
#test{
    border: 10px solid blue;
    padding: 0.5em;
    margin: 90px;
    width: 150px;
    height: 100px;
    
    
}
#blank {
    border: 10px solid red;
    padding: 0.5em;
    margin: 90px;
    width: 50px;
    height: 50px;
    float: right;
}
#font{
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
#oneline{
    font: italic small-caps bold 50px "times new roman";
}
.container{
    width: 200px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black

  }
  
.box{
    width: 300px;
    height: 100px;
    padding: 0.5em;s
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
.red{
    background-color: red;
  }
  
.green{
    background-color: green;
  }
  
.yellow{
    background-color: yellow;
  }
  .containerr{
    width: 200px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    
  }
  .boxx{
    width: 100px;
    height: 100px;

  }
  .redd{
    background-color: red;
  }
  .blackk{
    background-color: black;
  }
  .tiktok{
    width: 221px;
    height: 221px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
   

  }
  .boxxx{
    width: 70px;
    height: 70px;
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
}

.purple{
  background-color: paleturquoise;
  padding: 1px;
  text-align: center;
}

.tik {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    float: left;
  }
  
  .tok {
    width: 90px;
    height: 90px;
    font-size: 80px;
    font-family: sans-serif;
    background-color: lightblue;
    margin: 5px;
    list-style: none;
    text-align: center;
  }
